[Unit]
Description=Prometheus exporter for probing network endpoints
Documentation=https://github.com/prometheus/blackbox_exporter
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=prometheus
EnvironmentFile=/etc/default/prometheus-blackbox-exporter
ExecStart=/usr/bin/prometheus-blackbox-exporter --config.file=/etc/prometheus/blackbox.yml $ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
AmbientCapabilities=CAP_NET_RAW

[Install]
WantedBy=multi-user.target
