[Unit]
Description=UniFi Controller Data Exporter
Documentation=https://unpoller.com/docs/poller/introduction
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=unpoller
ExecStart=/usr/bin/unpoller --config=/etc/unpoller/up.conf

[Install]
WantedBy=multi-user.target
